@using DressZone.Server.Areas.Admin.KendoHtmlHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content
================================================== -->
<!-- Container -->

@section kendo {
    @Scripts.Render("~/bundles/kendo")
    }
<div>
    <h3>Categories</h3>
    @(Html.AdminGrid<DressZone.Server.Areas.Admin.Models.ViewModels.AllCategoriesViewModel>("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Name);
                    columns.Bound(c => c.Description).Width(150);
                    columns.Bound(c => c.FrontImageName).ClientTemplate("<img style=\"width:140; height:120px;\" src='" + Url.Content("~/images/Uploaded/Categories/")
                        + "#=FrontImageName#'/>").Width(220);
                    columns.Bound(c => c.Quantity).Width(100);
                    columns.Bound(c => c.CreatedOn).Format("{0:dd/mm/yyyy HH:MM:ss}");
                    columns.Bound(c => c.ModifiedOn).Format("{0:dd/MM/yyyy HH:mm:ss}");
                    columns.Bound(c => c.IsDeleted).Width(150);
                    columns.Bound(c => c.DeletedOn).Format("{0:dd/MM/yyyy HH:mm:ss}");
                    columns.Command(command =>
                    {
                        command.Edit();
                        command.Destroy();
                    });
                })
                .Editable(edit => edit.Mode(GridEditMode.PopUp))
                .DataSource(datasource =>
                       datasource
                         .Ajax()
                         .PageSize(10)
                         .Model(m => m.Id(c => c.Id))
                         .Read(read => read.Action("All", "Categories", new { area = "Admin" }))
                         .Update(update => update.Action("UpdateExisting","Categories", new { area = "Admin" }))
                         .Destroy(destroy => destroy.Action("Delete","Categories", new { area = "Admin" }))))

</div>
<!-- Container / End -->
