@using DressZone.Server.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Container -->
<div class="jumbotron">

    <div class="six columns centered">

        <ul class="tabs-nav my-account">
            <li class="active">
                @Html.ActionLink("Login", "Login","Account")
            </li>
            <li class="active">
                @Html.ActionLink("Register", "Register", "Account")
            </li>
        </ul>
    </div>
</div>

<div class="margin-top-50"></div>

