@using DressZone.Server.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Login -->
<div class="container">
    <div class="tab-content" id="tab1">


        <h3 class="headline">Login</h3><span class="line" style="margin-bottom:20px;margin-left:40px;"></span><div class="clearfix"></div>


        @using (Html.BeginForm("Login", "Account", new { }, FormMethod.Post, new { @class = "login" }))
        {
            @Html.AntiForgeryToken()
            <p class="form-row form-row-wide">
                <label for="username">Username or Email Address: <span class="required">*</span></label>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-text" })
            </p>

            <p class="form-row form-row-wide">
                <label for="password">Password: <span class="required">*</span></label>
                @Html.TextBoxFor(m => m.Password, new { @class = "input-text", type = "password" })
            </p>

            <p class="form-row">
                <input type="submit" class="button" value="Login" />

                <label for="rememberme" class="rememberme">
                    <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me
                </label>
            </p>

            <p class="lost_password">
                <a href="#">Lost Your Password?</a>
            </p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

