<div class="container">


    <!-- Logo -->
    <div class="four columns">
        <div id="logo">
            <h1><a href="@Url.Action("Index","Home", new { area = string.Empty })"><img id="imgLogo" src="~/images/logo.png" /></a></h1>
        </div>
    </div>


    <!-- Additional Menu -->
    <div class="twelve columns">
        <div id="additional-menu">
            <ul>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>


    <!-- Shopping Cart -->
    <div class="twelve columns">

        @if (this.Request.IsAuthenticated)
        {
            <div id="cart">

                <!-- Button -->
                <div class="cart-btn">
                    <a href="#" class="button adc"></a>
                </div>

                <div class="cart-list">

                    <div class="arrow"></div>

                    <div class="cart-amount">
                        <span></span>
                    </div>

                    <ul>
                        <li>
                            <a href="#"><img src="" alt="" /></a>
                            <a href="#"></a>
                            <span></span>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <a href="#"><img src="" alt="" /></a>
                            <a href="#">Tommy Hilfiger <br /> Shirt Beat</a>
                            <span></span>
                            <div class="clearfix"></div>
                        </li>
                    </ul>

                    <div class="cart-buttons button">
                        @Html.ActionLink("View Cart", "Details", "CartView",new {area = "UserArea" },new { @class = "view-cart" })
                        <a href="/Checkout/Index" class="checkout"><span data-hover="Checkout">Checkout</span></a>
                    </div>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
        }
        

        <!-- Search -->
        <nav class="top-search">
            <form action="#" method="get">
                <button><i class="fa fa-search"></i></button>
                <input class="search-field" type="text" placeholder="Search" value="" />
            </form>
        </nav>

    </div>

</div>
@section scripts{
    <section>

    </section>
    }