<div class="container margin-bottom-25">

    <!-- Best Sellers -->
    <div class="one-third column">

        <!-- Headline -->
        <h3 class="headline">Best Sellers</h3>
        <span class="line margin-bottom-0"></span>
        <div class="clearfix"></div>


        <ul class="product-list">

            <li>
                <a href="#">
                    <img src="images/small_product_list_01.jpg" alt="" />
                    <div class="product-list-desc">Canvas Backpack <i>$59.00</i></div>
                </a>
            </li>

            <li><div class="clearfix"></div></li>

        </ul>

    </div>


    <!-- Top Rated -->
    <div class="one-third column">

        <!-- Headline -->
        <h3 class="headline">Top Rated</h3>
        <span class="line margin-bottom-0"></span>
        <div class="clearfix"></div>


        <ul class="product-list top-rated">

            <li>
                <a href="#">
                    <img src="images/small_product_list_04.jpg" alt="" />
                    <div class="product-list-desc with-rating">
                        Brogue Boots in Leather <i>$99.00</i>
                        <div class="rating five-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    </div>
                </a>
            </li>

            <li><div class="clearfix"></div></li>

        </ul>

    </div>


    <!-- Weekly Sales -->
    <div class="one-third column">

        <!-- Headline -->
        <h3 class="headline">Weekly Sales</h3>
        <span class="line margin-bottom-0"></span>
        <div class="clearfix"></div>


        <ul class="product-list discount">

            <li>
                <a href="#">
                    <img src="images/small_product_list_07.jpg" alt="" />
                    <div class="product-list-desc">Short Sleeve Polo Shirt <i>$29.00<b>$19.00</b></i></div>
                </a>
            </li>


            <li><div class="clearfix"></div></li>

        </ul>

    </div>

</div>